@charset "utf-8";

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}
body {
    font-family: 'SUIT-Regular';
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}
a {
    text-decoration: none;
    color: black;
}
ul, ol, li {
    list-style: none;
}


/* 상단 */

.top {
    width: 100%;
}
.top header {
    width: 100%;
    position: absolute;
    top: 3.2%;
    z-index: 50;
}
.top header nav {
    width: 92%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top header nav .logo a span  {
    font-size: 3.5vw;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
.top header nav .mainMenu {
    width: 2vw;
    height: 3vw;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}
.top header nav .mainMenu .eye {
    display: flex;
    justify-content: space-evenly;
}
.top header nav .mainMenu .eye span {
    width: 0.35vw;
    height: 0.6vw;
    background-color: #fff;
}
.top header nav .mainMenu .mouth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1.2vw;
}
.top header nav .mainMenu .mouth span {
    width: 2vw;
    height: 0.15vw;
    background-color: #fff;
}
.top .mainBg {
    width: 100%;
    overflow: hidden;
}
.top .mainBg img {
    width: 100%;
    height: 100%;
}
.top .mainBg .mainBg_off {
    position: relative;
    z-index: 51;
}
.top .mainBg .mainBg_off > div {
    width: 1.2vw;
    height: 24vw;
    position: absolute;
    top: 0;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%,0);
    animation: upDown 1s linear 0s infinite alternate;
    z-index: 100;
}
.top .mainBg .mainBg_on {
    display: none;
    position: absolute;
    top: 0;
}
/* 홈 화면 줄 움직이는 애니메이션 */
@keyframes upDown {
    0% {
        top: 0;
    }
    100%{
        top: -2%;
    }
}
/* 메인 마우스오버 묶음 */
.top .mainBg .mainBg_on > div:not(:last-child) {
    cursor: pointer;
}
.top .mainBg .mainBg_on .main_hover img:last-child {
    opacity: 0;
}
.top .mainBg .mainBg_on .books img {
    position: absolute;
    top: 53.5%;
    right: 54.3%;
    width: 13vw;
    height: 3.9vw;
    z-index: 3;
}
.top .mainBg .mainBg_on .cart img {
    position: absolute;
    bottom: 5%;
    right: 14%;
    width: 21.5vw;
    height: 21.8vw;
}
.top .mainBg .mainBg_on .cup img {
    position: absolute;
    top: 39.8%;
    left: 15.2%;
    width: 8.9vw;
    height: 8.9vw;
}
.top .mainBg .mainBg_on .frame img {
    position: absolute;
    top: 28.5%;
    right: 22.8%;
    width: 6vw;
    height: 8.7vw;
}
.top .mainBg .mainBg_on .stand {
    position: absolute;
    top: 13%;
    left: 36.2%;
    width: 26.5vw;
    height: 29vw;
    z-index: 2;
}
.top .mainBg .mainBg_on .stand:hover .stand_on_img,
.top .mainBg .mainBg_on .stand:hover .tool_text {
    display: block;
}
.top .mainBg .mainBg_on .stand img:nth-child(2) {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    opacity: 0;
}
.top .mainBg .mainBg_on .stand .tool_text {
    position: absolute;
    top: -8%;
    left: 25%;
    width: 11.87vw;
    height: 10vw;
    opacity: 0;
    text-align: center;
    color: #fff;
    animation: tooltip 1.3s linear 0s infinite alternate;
}
.top .mainBg .mainBg_on .stand .tool_text div:first-child {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.top .mainBg .mainBg_on .stand .tool_text div:nth-child(2) {
    position: absolute;
    top: 0;
    width: 11.8vw;
    height: 10vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top .mainBg .mainBg_on .stand .tool_text div:nth-child(2) img {
    width: 0.9vw;
    height: 0.8vw;
    display: block;
    margin: 0 auto 3%;
}
.top .mainBg .mainBg_on .stand .tool_text div span {
    font-size: 1vw;
    font-family: 'SeoulHangang';
    line-height: 120%;
}
.top .mainBg .mainBg_on .tennis img {
    position: absolute;
    bottom: 14.7%;
    left: 36%;
    width: 20vw;
    height: 7vw;
}
.top .mainBg .mainBg_on .turntables img {
    position: absolute;
    top: 39.8%;
    left: 31.9%;
    width: 12.3vw;
    height: 6vw;
    z-index: 3;
}
.top .mainBg .mainBg_on .projector {
    position: absolute;
    top: 48%;
    left: 24%;
    width: 8.3vw;
    height: 4.6vw;
}
.top .mainBg .mainBg_on .projector:hover .pr_on_img {
    display: block;
}
.top .mainBg .mainBg_on .projector:hover .pr_on img {
    display: block;
}
.top .mainBg .mainBg_on .projector:hover .tool_text2 {
    display: block;
}
.top .mainBg .mainBg_on .projector > img:nth-child(2) {
    position: absolute;
    top: -190%;
    left: 82%;
    width: 200%;
    height: 250%;
    opacity: 0;
}
.top .mainBg .mainBg_on .projector .pr_on img {
    position: absolute;
    top: -350%;
    right: -460%;
    width: 16.3vw;
    height: 12.7vw;
    opacity: 0;
}
.top .mainBg .mainBg_on .projector .tool_text2 {
    position: absolute;
    top: -250%;
    left: -30%;
    width: 12vw;
    height: 10.5vw;
    opacity: 0;
    animation: tooltip 1.3s linear 0s infinite alternate;
}
.top .mainBg .mainBg_on .projector .tool_text2 .pr_on_tool {
    position: relative;
}
.top .mainBg .mainBg_on .projector .tool_text2 div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.top .mainBg .mainBg_on .projector .tool_text2 div:nth-child(2) span {
    font-size: 1vw;
    color: #fff;
    font-family: 'SeoulHangang';
    line-height: 120%;
}
.top .mainBg .mainBg_on .cosmetics {
    position: absolute;
    top: 40.5%;
    right: 36%;
    width: 3vw;
    height: 5.3vw;
    z-index: 3;
}
.top .mainBg .mainBg_on .cosmetics:hover .tool_text3 {
    display: block;
}
.top .mainBg .mainBg_on .cosmetics .tool_text3 {
    position: absolute;
    top: -160%;
    left: -50%;
    width: 8.3vw;
    height: 7.7vw;
    opacity: 0;
    animation: tooltip 1.3s linear 0s infinite alternate;
}
.top .mainBg .mainBg_on .cosmetics .tool_text3 .cos_on {
    position: relative;
}
.top .mainBg .mainBg_on .cosmetics .tool_text3 div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.top .mainBg .mainBg_on .cosmetics .tool_text3 div:nth-child(2) span {
    font-size: 0.9vw;
    color: #fff;
    font-family: 'SeoulHangang';
    line-height: 120%;
}
.top .mainBg .mainBg_on .time {
    position: absolute;
    bottom: 43%;
    right: 4%;
    width: 12.3vw;
    height: 3vw;
}
.top .mainBg .mainBg_on .time img {
    position: absolute;
    bottom: 43%;
    right: 4%;
    width: 12.3vw;
    height: 3vw;
    display: none;
}
.top .mainBg .mainBg_on .time span {
    font-size: 1vw;
    position: absolute;
    bottom: -10%;
    right: 15%;
    font-family: 'SeoulHangang';
    color: #fff;
    display: none;
}

/* 스크롤 아이콘 */
.scroll_icon {
    position: absolute;
    bottom: 2%;
    left: 50%;
    width: 10vw;
    transform: translate(-50%,0);
    text-align: center;
    cursor: default;
}
.scroll_icon span {
    font-size: 0.6vw;
    color: #fff;
    font-weight: 600;
}
.scroll_icon .scroll_line::after {
    content: "";
    width: 0.05vw;
    height: 3vw;
    display: block;
    background-color: #fff;
    margin: 3% auto;
}
.scroll_icon .scroll_circle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
}
.scroll_icon .scroll_circle {
    width: 1vw;
    height: 1vw;
    border: 3px solid red;
    border-radius: 50%;
    display: block;
    animation: scrollDown 2s linear 0s infinite normal;
}
/* 스크롤 아이콘 움직이는 효과 */
@keyframes scrollDown {
    0% {
        bottom: 42%;
    }
    100% {
        bottom: 0;
    }
}

/* 툴팁 움직이는 효과 */
@keyframes tooltip {
    0% {
        transform: rotate(-10deg)
    }
    100% {
        transform: rotate(10deg)
    }
}

/* 메뉴 박스  */
.top .mainBg .menu_box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #f2ecdc;
    z-index: 5;
    font-family: 'SeoulHangang';
    display: none;
}
.top .mainBg .menu_box .menu_box_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    
}
.top .mainBg .menu_box .menu_box_inner > ul > li > a {
    font-size: 3.2vw;
    line-height: 170%;
    color: black;
}

.top .mainBg .menu_box .menu_box_inner .mini_menu li {
    line-height: 160%;
    text-indent: 10%;
}
.top .mainBg .menu_box .menu_box_inner .mini_menu a {
    font-size: 1.5vw;
    color: black;

}

