@charset "utf-8";

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}
body {
    font-family: 'SUIT-Regular';
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}
a {
    text-decoration: none;
    color: black;
}
ul, ol, li {
    list-style: none;
}


/* 상단 */

.top {
    width: 100%;
    background-color: #ea6852;

}
body::-webkit-scrollbar {
    display: none;
}
.top header {
    width: 100%;
    position: absolute;
    top: 3.2%;
    z-index: 50;
}
.top header nav {
    width: 92%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top header nav .logo a span  {
    font-size: 3.5vw;
    font-weight: 400;
    text-transform: uppercase;
}
.logo_off {
    color: #fff;
}
.logo_on {
    color: black;
}
.top header nav .mainMenu {
    width: 2vw;
    height: 2.1vw;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}
.top header nav .mainMenu .eye {
    display: flex;
    justify-content: space-evenly;
}
.top header nav .mainMenu .eye span {
    width: 0.33vw;
    height: 0.6vw;
}
.top header nav .mainMenu .mouth {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 1.3vw;
}
.top header nav .mainMenu .mouth span {
    width: 2vw;
    height: 0.15vw;
}
.menu_off {
    background-color: #fff;
}
.menu_on {
    background-color: black;
}
.rot1 {
    position: absolute;
    top: 28%;
    transform: rotate(20deg);
}
.rot2 {
    position: absolute;
    top: 28%;
    transform: rotate(-20deg);
}
.top .mainBg {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.top .mainBg img {
    width: 100%;
    height: 100%;
}
.top .mainBg .mainBg_off {
    position: relative;
    z-index: 51;
    height: 100vh;
}
.top .mainBg .mainBg_off > div:nth-child(2) {
    width: 1.2vw;
    height: 24vw;
    position: absolute;
    top: 0;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%,0);
    animation: upDown 1s linear 0s infinite alternate;
    z-index: 100;
}
.top .mainBg .mainBg_on {
    display: none;
    position: absolute;
    top: 0;
}
/* 홈 화면 줄 움직이는 애니메이션 */
@keyframes upDown {
    0% {
        top: 0;
    }
    100%{
        top: -2%;
    }
}
/* 메인 마우스오버 묶음 */
.top .mainBg .mainBg_on > div:not(:last-child) {
    cursor: pointer;
}
.top .mainBg .mainBg_on .main_hover img:last-child {
    opacity: 0;
}
.top .mainBg .mainBg_on .books img {
    position: absolute;
    top: 53.5%;
    right: 54.3%;
    width: 13vw;
    height: 3.9vw;
    z-index: 3;
}
.top .mainBg .mainBg_on .cart img {
    position: absolute;
    bottom: 5%;
    right: 14%;
    width: 21.5vw;
    height: 21.8vw;
}
.top .mainBg .mainBg_on .cup img {
    position: absolute;
    top: 39.8%;
    left: 15.2%;
    width: 8.9vw;
    height: 8.9vw;
}
.top .mainBg .mainBg_on .frame img {
    position: absolute;
    top: 28.5%;
    right: 22.8%;
    width: 6vw;
    height: 8.7vw;
}
.top .mainBg .mainBg_on .stand {
    position: absolute;
    top: 13%;
    left: 36.2%;
    width: 26.5vw;
    height: 29vw;
    z-index: 2;
}
.top .mainBg .mainBg_on .stand:hover .stand_on_img,
.top .mainBg .mainBg_on .stand:hover .tool_text {
    display: block;
}
.top .mainBg .mainBg_on .stand img:nth-child(2) {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    opacity: 0;
}
.top .mainBg .mainBg_on .stand .tool_text {
    position: absolute;
    top: -8%;
    left: 25%;
    width: 11.87vw;
    height: 10vw;
    opacity: 0;
    text-align: center;
    color: #fff;
    animation: tooltip 1.3s linear 0s infinite alternate;
}
.top .mainBg .mainBg_on .stand .tool_text div:first-child {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.top .mainBg .mainBg_on .stand .tool_text div:nth-child(2) {
    position: absolute;
    top: 0;
    width: 11.8vw;
    height: 10vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top .mainBg .mainBg_on .stand .tool_text div:nth-child(2) img {
    width: 0.9vw;
    height: 0.8vw;
    display: block;
    margin: 0 auto 3%;
}
.top .mainBg .mainBg_on .stand .tool_text div span {
    font-size: 1vw;
    font-family: 'SeoulHangang';
    line-height: 120%;
}
.top .mainBg .mainBg_on .tennis img {
    position: absolute;
    bottom: 14.7%;
    left: 36%;
    width: 20vw;
    height: 7vw;
}
.top .mainBg .mainBg_on .turntables img {
    position: absolute;
    top: 39.8%;
    left: 31.9%;
    width: 12.3vw;
    height: 6vw;
    z-index: 3;
}
.top .mainBg .mainBg_on .projector {
    position: absolute;
    top: 48%;
    left: 24%;
    width: 8.3vw;
    height: 4.6vw;
}
.top .mainBg .mainBg_on .projector:hover .pr_on_img {
    display: block;
}
.top .mainBg .mainBg_on .projector:hover .pr_on img {
    display: block;
}
.top .mainBg .mainBg_on .projector:hover .tool_text2 {
    display: block;
}
.top .mainBg .mainBg_on .projector > img:nth-child(2) {
    position: absolute;
    top: -190%;
    left: 82%;
    width: 200%;
    height: 250%;
    opacity: 0;
}
.top .mainBg .mainBg_on .projector .pr_on img {
    position: absolute;
    top: -350%;
    right: -460%;
    width: 16.3vw;
    height: 12.7vw;
    opacity: 0;
}
.top .mainBg .mainBg_on .projector .tool_text2 {
    position: absolute;
    top: -250%;
    left: -30%;
    width: 12vw;
    height: 10.5vw;
    opacity: 0;
    animation: tooltip 1.3s linear 0s infinite alternate;
}
.top .mainBg .mainBg_on .projector .tool_text2 .pr_on_tool {
    position: relative;
}
.top .mainBg .mainBg_on .projector .tool_text2 div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.top .mainBg .mainBg_on .projector .tool_text2 div:nth-child(2) span {
    font-size: 1vw;
    color: #fff;
    font-family: 'SeoulHangang';
    line-height: 120%;
}
.top .mainBg .mainBg_on .cosmetics {
    position: absolute;
    top: 40.5%;
    right: 36%;
    width: 3vw;
    height: 5.3vw;
    z-index: 3;
}
.top .mainBg .mainBg_on .cosmetics:hover .tool_text3 {
    display: block;
}
.top .mainBg .mainBg_on .cosmetics .tool_text3 {
    position: absolute;
    top: -160%;
    left: -50%;
    width: 8.3vw;
    height: 7.7vw;
    opacity: 0;
    animation: tooltip 1.3s linear 0s infinite alternate;
}
.top .mainBg .mainBg_on .cosmetics .tool_text3 .cos_on {
    position: relative;
}
.top .mainBg .mainBg_on .cosmetics .tool_text3 div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.top .mainBg .mainBg_on .cosmetics .tool_text3 div:nth-child(2) span a {
    font-size: 0.9vw;
    color: #fff;
    font-family: 'SeoulHangang';
    line-height: 120%;
}
.top .mainBg .mainBg_on .time {
    position: absolute;
    bottom: 43%;
    right: 4%;
    width: 12.3vw;
    height: 3vw;
}
.top .mainBg .mainBg_on .time img {
    position: absolute;
    bottom: 43%;
    right: 4%;
    width: 12.3vw;
    height: 3vw;
    display: none;
}
.top .mainBg .mainBg_on .time span {
    font-size: 1vw;
    position: absolute;
    bottom: -10%;
    right: 15%;
    font-family: 'SeoulHangang';
    color: #fff;
    display: none;
}

/* 스크롤 아이콘 */
.scroll_icon {
    position: absolute;
    bottom: 4.1%;
    left: 50%;
    width: 10vw;
    transform: translate(-50%,0);
    text-align: center;
    cursor: default;
}
.scroll_icon::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    content: "";
    width: 0.1vw;
    height: 0.1vw;
    border: 0.1vw solid #fff;
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
}
.scroll_icon span {
    font-size: 0.6vw;
    color: #fff;
    font-weight: 600;
}
.scroll_icon .scroll_line {
    width: 0.05vw;
    height: 2.8vw;
    background-color: #fff;
    margin: 3% auto;
    display: block;
}
.scroll_icon .scroll_circle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
}
.scroll_icon .scroll_circle {
    width: 1vw;
    height: 1vw;
    border: 3px solid red;
    border-radius: 50%;
    display: block;
    animation: scrollDown 2s linear 0s infinite normal;
}
/* 스크롤 아이콘 움직이는 효과 */
@keyframes scrollDown {
    0% {
        bottom: 42%;
    }
    100% {
        bottom: 0;
    }
}

/* 툴팁 움직이는 효과 */
@keyframes tooltip {
    0% {
        transform: rotate(-10deg)
    }
    100% {
        transform: rotate(10deg)
    }
}

/* 메뉴 박스  */
.top .mainBg .menu_box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #f2ecdc;
    z-index: 5;
    font-family: 'SeoulHangang';
    display: none;
}
.top .mainBg .menu_box .menu_box_inner {
    position: absolute;
    top: 53%;
    left: 52%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    
}
.top .mainBg .menu_box .menu_box_inner > ul > li > span {
    display: inline-block;
    width: 4%;
    height: 1%;
    font-size: 1.2vw;
    margin-top: -10%;
    vertical-align: middle;
}
.top .mainBg .menu_box .menu_box_inner > ul > li {
    width: 35vw;
}
.top .mainBg .menu_box .menu_box_inner > ul > li > a {
    font-size: 3.5vw;
    line-height: 170%;
    color: black;
    position: relative;
}
.top .mainBg .menu_box .menu_box_inner > ul > li > a:after {
    content: "";
    position: absolute;
    display: block;
    border-bottom: 0.2vw solid #ea6852;
    transition: all 0.4s ease-out;
    left: auto;
    right: 0;
    width: 0;
    bottom: 0;
}
.top .mainBg .menu_box .menu_box_inner > ul > li:hover a::after {
    width: 100%;
    left: 0;
    right: auto;
}
.top .mainBg .menu_box .menu_box_inner .mini_menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.top .mainBg .menu_box .menu_box_inner .mini_menu li {
    line-height: 285%;
    text-indent: 5%;
}
.top .mainBg .menu_box .menu_box_inner .mini_menu a:hover  {
    color: #ea6852;
}
.top .mainBg .menu_box .menu_box_inner .mini_menu a {
    font-size: 1.5vw;
    color: black;
}
.top .mainBg .menu_box .menu_box_inner .mini_menu a::before {
    content: "•";
}

/* 앰플 소개 구좌 */

/* 앰플 */
.amp_opa {
    opacity: 0;
}
.trans {
    transform: translateY(50px);
}
.trans2 {
    transform: translateY(-50px);
}
.main_content {
    display: none;
}
.main_content .content_inner {
    position: relative;
    height: 1000vh;
    /* overflow: hidden; */
    background-color: #ea6852
}
.main_content .amp {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}
.main_content .amp > div:first-child {
    width: 62.5vw;
    height: 64vw;
    margin: 0 auto;
    position: sticky;
    top: 10vw;
    transform: rotate(-10deg);
}
.main_content .amp > div:first-child img {
    width: 100%;
}
.main_content .amp > div:nth-child(2) {
    position: absolute;
    top: 14%;
    left: 13%;
}
.main_content .amp > div:nth-child(2)::before {
    content: "";
    background-image: url('img/shape1.svg');
    width: 1.4vw;
    height: 2.8vw;
    position: absolute;
    bottom: 0.85vw;
    left: -2.2vw;
    display: inline-block;
    background-size: 100% 100%;
}
.main_content .amp > div:nth-child(2)::after {
    content: "";
    width: 105%;
    height: 0.05vw;
    background-color: #fff;
    position: absolute;
    bottom: 2.2vw;
    left: -2vw;
}
.main_content .amp > div:nth-child(2) span {
    font-family: 'Roboto Slab', serif;
    font-size: 11.5vw;
    color: #fff;
    
}
.main_content .amp .content_box {
    position: absolute;
    top: 53%;
    left: 9%;
    color: #fff;
}
.main_content .amp .content_box > span:first-child {
    font-size: 2.1vw;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
.main_content .amp .content_box > span:nth-child(2) {
    font-size: 1.15vw;
    line-height: 2.5;
}
.main_content .amp .content_box > span:last-child {
    font-size: 0.9vw;
    line-height: 1.4;
}
.main_content .amp .content_box a {
    color: #fff;
    font-size: 0.9vw;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 5% 0;
}
.main_content .amp .content_box a span {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 1.4vw;
    height: 1.4vw;
    display: inline-block;
    vertical-align: baseline;
    margin: 0 2%;
}
.main_content .amp .content_box a span::after {
    content: "";
    background-image: url("img/prod-arrow1.svg");
    color: #fff;
    width: 1.35vw;
    height: 1.35vw;
    display: inline-block;
    background-size: 90% 90%;
}
.main_content .amp .amp_img_box {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15.2vw;
    height: 31.6vw;
}

.main_content .amp .amp_img_box .bottle_wrap {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15.2vw;
    height: 31.6vw;
}
.main_content .amp .amp_img_box .bottle_wrap img {
    width: 100%;
}
.main_content .amp .amp_img_box .bottle_wrap > img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -5;
}
.main_content .amp .amp_img_box .bottle_wrap .bottle {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 10.7vw;
    height: 29.5vw
}
.main_content .amp .amp_img_box .bottle_wrap .bottle .bottle_head {
    width: 7.5vw;
    height: 12.65vw;
    margin: 0 auto;
}
.main_content .amp .amp_img_box .bottle_wrap .bottle .bottle_head img {
    width: 100%;
    height: 100%;
}
.main_content .amp .amp_img_box .bottle_wrap .bottle .bottle_body {
    width: 10.7vw;
    height: 16.8vw;
}
.main_content .amp .amp_img_box .bottle_wrap .bottle .bottle_body > img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 5;
}
.main_content .amp .amp_img_box .bottle_wrap .bottle .bottle_body > div {
    position: absolute;
    bottom: 0.07vw;
    right: 0;
    width: 10.7vw;
    height: 16.8vw;
    -webkit-mask-image: url("../img/item-ampoule-mask.png");
    mask-image: url("../img/item-ampoule-mask.png");
    -webkit-mask-size: 10.7291666667vw,16.875vw;
    mask-size: 10.7291666667vw,16.875vw;
}
.main_content .amp .amp_img_box .bottle_wrap .bottle .bottle_body > div > div {
    width: 31.56vw;
    height: 16.8vw;
}
.main_content .amp .amp_img_box .bottle_wrap .bottle .bottle_body > div > div >img {
    width: 100%;
    height: 100%;
}
.main_content .amp .amp_img_box .bottle_wrap .bottle .bottle_body > div > div > span {
    background-image: url("img/item-ampoule-logo.png");
    display: inline-block;
    position: absolute;
    bottom: 3vw;
    right: 3vw;
    width: 4.27vw;
    height: 1.1vw;
    background-size: 100% auto;
}
.main_content .amp .amp_img_box .texture_wrap {
    position: absolute;
    top: 0;
    z-index: 5;
}
.main_content .amp .amp_img_box .texture_wrap > img:nth-child(1) {
    position: absolute;
    top: 13vw;
    right: -15vw;
    width: 2.2vw;
    height: 3vw;
}
.main_content .amp .amp_img_box .texture_wrap > img:nth-child(2) {
    position: absolute;
    top: 17vw;
    left: -0.8vw;
    width: 1.9vw;
    height: 1.9vw;
}
.main_content .amp .amp_img_box .texture_wrap > img:nth-child(3) {
    position: absolute;
    top: 22vw;
    right: -17vw;
    width: 1.6vw;
    height: 1.6vw;
}
.main_content .amp .amp_img_box .texture_wrap > img:nth-child(4) {
    position: absolute;
    top: 14vw;
    left: -1.5vw;
    width: 0.67vw;
    height: 0.67vw;

}
.main_content .amp .amp_img_box .texture_wrap > img:nth-child(5) {
    position: absolute;
    top: 23vw;
    left: -3vw;
    width: 1.2vw;
    height: 1.2vw;
}
.main_content .amp .amp_img_box .texture_wrap > img:nth-child(6) {
    position: absolute;
    top: 25vw;
    right: -12vw;
    width: 1.8vw;
    height: 2.5vw;
}
.main_content .amp .amp_img_box .texture_wrap > img:nth-child(7) {
    position: absolute;
    top: 20.5vw;
    right: -13vw;
    width: 0.67vw;
    height: 0.67vw;
}

.amp_mist_bg {
    background-color: #ea6852;
    position: sticky;
    width: 110%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -6;
    opacity: 0;
}

/* 미스트 */
.mist_opa {
    opacity: 0;
}
.main_content .mist {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ede6d3;
    opacity: 0;
    z-index: 3;
}
.main_content .mist > div:nth-child(1) {
    width: 47.44vw;
    height: 32.1vw;
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 1;
    opacity: 0.3;
}
.main_content .mist > div:nth-child(2) {
    position: absolute;
    top: 25%;
    right: 11.5%;
    color: #eb4124;
}
.main_content .mist > div:nth-child(2)::before {
    content: "";
    background-image: url('img/shape2 (1).svg');
    width: 1.4vw;
    height: 2.8vw;
    position: absolute;
    bottom: 0.85vw;
    right: -2vw;
    display: inline-block;
    background-size: 100% 100%;
}
.main_content .mist > div:nth-child(2)::after {
    content: "";
    width: 105%;
    height: 0.05vw;
    background-color: #eb4124;
    position: absolute;
    bottom: 2.2vw;
    left: -1.2vw;
}
.main_content .mist > div:nth-child(2) span {
    font-family: 'Roboto Slab', serif;
    font-size: 9.2vw;
    color: #eb4124;
}
.main_content .mist .content_box2 {
    position: absolute;
    top: 56%;
    right: 8%;
    text-align: right;
}
.main_content .mist .content_box2 span, .main_content .mist .content_box2 a {
    color: black;
}
.main_content .mist .content_box2 > span:first-child {
    font-size: 2.1vw;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
.main_content .mist .content_box2 > span:nth-child(2) {
    font-size: 1.15vw;
    line-height: 2.5;
}
.main_content .mist .content_box2 > span:last-child {
    font-size: 0.9vw;
    line-height: 1.4;
}
.main_content .mist .content_box2 a {
    color: black;
    font-size: 0.9vw;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5% 0;
}
.main_content .mist .content_box2 a span {
    border: 1px solid black;
    border-radius: 50%;
    width: 1.4vw;
    height: 1.4vw;
    display: inline-block;
    vertical-align: baseline;
    margin-left: 2%;
}
.main_content .mist .content_box2 a span::after {
    content: "";
    background-image: url("img/prod-arrow2.svg");
    color: black;
    width: 1.35vw;
    height: 1.35vw;
    display: inline-block;
    background-size: 90% 90%;
}
.main_content .mist .content_box3 {
    position: absolute;
    top: 52%;
    left: 8%;
    opacity: 0.2;
    font-family: 'Roboto Slab', serif;
    opacity: 0;
}
.main_content .mist .content_box3 > span:nth-child(1) {
    font-size: 5.8vw;
    line-height: 150%;
    color: #2a2a2a;
}
.main_content .mist .content_box3 > span:nth-child(2) {
    font-size: 2vw;
    line-height: 1;
    color: #2a2a2a;
}
.main_content .mist .mist_img_box {
    position: absolute;
    top: 67%;
    left: 49.35%;
    transform: translate(-50%, -50%);
    width: 15.2vw;
    height: 31.6vw;
}

.main_content .mist .mist_img_box .bottle_wrap_m {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14vw;
    height: 43vw;
}
.main_content .mist .mist_img_box .bottle_wrap_m img {
    width: 100%;
    height: 100%;
}
.main_content .mist .mist_img_box .bottle_wrap_m > img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -5;
}
.main_content .mist .mist_img_box .bottle_wrap_m .bottle_m {
    text-align: center;
    width: 10.7vw;
    height: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_content .mist .mist_img_box .bottle_wrap_m .bottle_m .bottle_head_m {
    width: 8.3vw;
    height: 13vw;
    margin: 0 auto;
    position: absolute;
    top: 0;
}
.main_content .mist .mist_img_box .bottle_wrap_m .bottle_m .bottle_head_m img {
    width: 100%;
    height: 100%;
}
.main_content .mist .mist_img_box .bottle_wrap_m .bottle_m .bottle_body_m {
    width: 11.25vw;
    height: 28.8vw;
    position: absolute;
    bottom: 5%;
}
.main_content .mist .mist_img_box .bottle_wrap_m .bottle_m .bottle_body_m > img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.main_content .mist .mist_img_box .bottle_wrap_m .bottle_m .bottle_body_m > div {
    position: absolute;
    bottom: 0.07vw;
    right: 0;
    width: 11.25vw;
    height: 28.3vw;
    -webkit-mask-image: url("img/item-mist-mask (1).png");
    mask-image: url("img/item-mist-mask (1).png");
    -webkit-mask-size: 11.25291666667vw,28.545vw;
    mask-size: 11.2591666667vw,28.545vw;
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
}
.main_content .mist .mist_img_box .bottle_wrap_m .bottle_m .bottle_body_m > div > div {
    width: 31.56vw;
    height: 28.8vw;
    position: absolute;
    bottom: 0;

}
.main_content .mist .mist_img_box .bottle_wrap_m .bottle_m .bottle_body_m > div > div > img {
    width: 100%;
}
.main_content .mist .mist_img_box .bottle_wrap_m .bottle_m .bottle_body_m > div > div > span {
    background-image: url("img/item-mist-logo.png");
    display: inline-block;
    position: absolute;
    bottom: 3vw;
    left: 3.35vw;
    width: 4.27vw;
    height: 1.1vw;
    background-size: 100% auto;
}
